In [2]:
import pandas as pd

In [2]:
##########################
## SET UP TRAINING DATA ##
##########################

# read in featurized training data: contains eigenvalues for adjacency and coulomb matrices
df_featurized_train = pd.read_csv("data/coulomb_and_eigen_full_train.csv")

# drop row number
df_featurized_train = df_featurized_train.drop(['Unnamed: 0'], axis=1)

# rename smile column to smiles (for merging with csv of default features)
df_featurized_train.rename(columns={'smile' : 'smiles'}, inplace=True)

# read in original data with default features
df_train = pd.read_csv("train.csv")
df_train = pd.merge(df_featurized_train, df_train, on='smiles')

# clean up merged data
df_train = df_train.drop(['gap_x'], axis = 1)
#df_train = df_train.drop(['smiles'], axis = 1)
df_train.rename(columns={'gap_y' : 'gap'}, inplace = True)

In [4]:
cols = list(df_train)

In [6]:
cols.insert(-1, cols.pop(cols.index('smiles')))

In [9]:
df_train = df_train.ix[:,cols]

In [12]:
df_train.head()

,adj0,adj1,adj10,adj11,adj12,adj13,adj14,adj15,adj16,adj17,...,feat_249,feat_250,feat_251,feat_252,feat_253,feat_254,feat_255,feat_256,smiles,gap
0,2.57972,2.31876,0.743061,0.618034,0.598216,0.402184,-0.534057,-0.708922,-0.856612,-0.961807,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,c1ccc(o1)-c1cnc2c(cnc3c4ncccc4c4ccccc4c23)c1,2.57
1,2.56858,2.36989,0.726755,0.540980,0.396339,0.205896,-0.597448,-0.676693,-1.040980,-1.256640,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,c1ccc2c(ccc3cc(-c4cccc5cscc45)c4=C[SiH2]C=c4c2...,1.88
2,2.56453,2.40183,0.618034,0.618034,0.618034,0.460272,0.241854,-0.141407,-0.848248,-1.235600,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,c1[SiH2]c(cc1)-c1ccc(-c2sc(-c3nccs3)c3[nH]ccc2...,1.57
3,2.63590,2.30497,0.502584,0.152842,-0.090447,-0.886390,-1.195400,-1.444960,-1.618030,-1.700510,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,c1[SiH2]c-2c(Cc3c-2c2cocc2c2ccc4c[nH]cc4c32)-c1,1.93
4,2.59129,2.36297,0.595792,0.373061,0.207612,-0.055896,-0.890709,-0.985906,-1.276190,-1.543150,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,[nH]1c2C=C(Cc2c2ccc3ccc4=C[SiH2]C=c4c3c12)c1nccs1,1.65

In [11]:
df_train.to_csv('merged_train_smiles.csv',index=False)

In [5]:
######################
## SET UP TEST DATA ##
######################

# read in featurized test data
df_featurized_test = pd.read_csv("data/full_test_features.csv")

# drop row number, and empty gap column
df_featurized_test = df_featurized_test.drop(['Unnamed: 0'], axis=1)
#df_featurized_test = df_featurized_test.drop(['smile'], axis=1)
df_featurized_test = df_featurized_test.drop(['gap'], axis=1)

# rename for merging
df_featurized_test.rename(columns={'smile' : 'smiles'}, inplace=True)

# read in original data with default features
df_test = pd.read_csv("test.csv")
#old_smiles = df_test.smiles.values

# MAKE SURE ORDER IS IN ORDER OF GIVEN TEST SET
df_test = pd.merge(df_featurized_test, df_test, on='smiles', how='right')
#merged_smiles = df_test.smiles.values

#assert(all(old_smiles == merged_smiles))

# clean up merged data
df_test = df_test.drop(['Id'], axis=1)
df_test = df_test.drop(['smiles'], axis = 1)

'''
cols = list(df_test)
cols.insert(len(list(df_test))-1, cols.pop(cols.index('smiles')))
df_test = df_test.ix[:,cols]'''

"\ncols = list(df_test)\ncols.insert(len(list(df_test))-1, cols.pop(cols.index('smiles')))\ndf_test = df_test.ix[:,cols]"

In [6]:
df_test.head()

,adj0,adj1,adj10,adj11,adj12,adj13,adj14,adj15,adj16,adj17,...,feat_247,feat_248,feat_249,feat_250,feat_251,feat_252,feat_253,feat_254,feat_255,feat_256
0,2.58389,2.42990,0.882501,0.657639,0.473732,0.439784,0.405177,-0.002410,-0.554092,-0.824430,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2.62930,2.30242,0.519517,0.317803,0.111246,-0.107917,-1.200890,-1.318080,-1.560010,-1.618030,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2.66186,2.44072,0.848114,0.618034,0.618034,0.618034,0.508998,0.307872,0.106568,0.086006,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2.62473,2.37769,0.643218,0.618034,0.508742,0.390094,0.248221,0.158813,-0.808286,-0.900154,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2.60587,2.49046,0.875589,0.818052,0.493940,0.486006,0.470683,0.448978,0.293010,0.125511,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
df_test.head()

,adj0,adj1,adj10,adj11,adj12,adj13,adj14,adj15,adj16,adj17,...,feat_248,feat_249,feat_250,feat_251,feat_252,feat_253,feat_254,feat_255,feat_256,smiles
0,2.58389,2.42990,0.882501,0.657639,0.473732,0.439784,0.405177,-0.002410,-0.554092,-0.824430,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,c1sc(-c2cnc3c(c2)c2nsnc2c2cc4cccnc4cc32)c2cc[n...
1,2.62930,2.30242,0.519517,0.317803,0.111246,-0.107917,-1.200890,-1.318080,-1.560010,-1.618030,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,[nH]1cccc1-c1cc2c3nsnc3c3c4sccc4[nH]c3c2s1
2,2.66186,2.44072,0.848114,0.618034,0.618034,0.618034,0.508998,0.307872,0.106568,0.086006,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,[nH]1c2cc(-c3ccc[se]3)c3nsnc3c2c2c3cscc3c3ccc4...
3,2.62473,2.37769,0.643218,0.618034,0.508742,0.390094,0.248221,0.158813,-0.808286,-0.900154,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,[nH]1c(cc2cnc3c(c12)c1=C[SiH2]C=c1c1ccc2=CCC=c...
4,2.60587,2.49046,0.875589,0.818052,0.493940,0.486006,0.470683,0.448978,0.293010,0.125511,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,c1sc(-c2sc(-c3sc(-c4scc5[se]ccc45)c4ccoc34)c3c...

In [7]:
df_test.to_csv('merged_test.csv',index=False)